@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
.heading {
    text-align: center;
}

//aboutUs & aside image css
.mainAbout2 img {
    width: 98.5vw;
}

.mainAbout3 {
    margin: 3rem;
}

.paraImg {
    display: flex;
    align-items: center;
    margin: 1rem;
    flex-direction: row-reverse;
    padding-left: 15px;
    padding-right: 15px;

}

.paraImg img {
    width: 30rem;
    height: 25rem;
}

.para {
    padding: 30px 35px 20px 0;
}

.para p {
    font-size: medium;
}

.para h3 {
    display: table;
    border-bottom: 2px solid rgb(55, 191, 241);
}

//sub main information

.aboutSubContent1 {
    background-image: url('../../images/blue-background.jpg');
    background-size: 100%;
    background-position: center;
}

.aboutSubContent2 {
    display: flex;
    align-items: center;
    margin: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.aboutSubContent2 img {
    height: 25rem;
    width: 25rem;

}

.aboutSubContent3 {
    color: white;
    margin: 3rem;
    font-family: 'Playball', 'cursive';
   
}

.surveyer1 {
    height: 90vh;
    width: 100%;
    background-image: url('../../images/background-cover2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.surveyerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
    // width: 50%;
    padding-top: 5rem;
    color: white;
    font-weight: bolder;
    // font-family: 'Playball';
    font-family:  'cursive'; 
    line-height: 2rem;
}

.textFromRight {
    animation: rightText 1s ease-in;
}

.textFromLeft {
    animation: leftText .7s ease-in;
}

@keyframes rightText {
    0% {
        transform: skewX(13deg) translateX(-500px);
    }

    100% {
        transform: skew(0deg);
    }

}

@keyframes leftText {
    0% {
        transform: skewY(13deg) translateY(500px);
    }

    100% {
        transform: skew(0deg);
    }

}

.vision {

    line-height: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 4rem;

}

.vision img {
    width: 30rem;
    height: 23rem;
    margin-top: 2rem;
}

.visionText {
    // margin: 1rem;
    font-weight: bolder;
    font-family: 'Libre Baskerville', serif;
    font-size: large;
}

.visionText h2 {
    border-bottom: 2px solid skyblue;
    width: 6.6rem;
}

.mission {
    line-height: 2rem;
    display: flex;
    justify-content: center;
    margin: 4rem;
}

.mission img {
    width: 25rem;
    // height: 20rem;
}

.missionText {
    // margin: 1rem;
    font-weight: bold;
    font-weight: bolder;
    font-family: 'Libre Baskerville', serif;
    font-size: large;
}

.missionText h2 {
    border-bottom: 2px solid skyblue;
    width: 6.6rem;
}

@media(max-width:450px) {
    *{
        padding: 0;
        margin: 0;
    }

    .heading h1{
       font-size: medium;
    }
    
    // .mainAbout2 img {
    //     width: 22rem;
    // }

    .paraImg {

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

    }

    .paraImg img {
        width: 20rem;
        height: 20rem;
        // margin: 2rem;
       
    }

    .para {
        width: 50vh;
    }

    .mainAbout3 {
        margin: 0;
    }

    .aboutSubContent2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutSubContent2 img{
        width: 20rem;
        height: 20rem;
    }
    .vision {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .vision img {
        width: 20rem;
        height: 20rem;
    }

    .mission {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mission img {
        width: 20rem;
        height: 20rem;
    }

}