.maindiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
 background-color: SkyBlue;
  border: none;
  font-family: Times New Roman;
}

.im-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.im-section img {
  width: 100px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.list li:hover {
  cursor: pointer;
  border-bottom: 1px solid black;

  // border-right: 1px;
}

.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  border: none;
  background-color: rgba(2, 0, 36, 1);
  color: #ffe3a3;
  padding: 1rem;
  font-family: Times New Roman;

}

.text-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #ffe3a3;
}

.text-footer p{
    margin-right: 1rem;
    margin-bottom: 0px;
    font-size: medium;

}
.foterlist p{
  font-size: medium;
  margin: 0;
}

.foterlist {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .foterlist li{
//     margin-right: 20px;
// }

