* {
  padding: 0px;
  margin: 0px;
}

.main-containt {
  // border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  background-color: SkyBlue;
}

.main1-text {
  display: flex;
}

.email-section {
  display: flex;
}

.phoneno-section {
  display: flex;
}

.text-line p {
  font-size: 1rem;
  margin-bottom: 0px;
}

.email-text p {
  font-size: 1rem;
  margin-bottom: 0px;
}

.phone-no p {
  font-size: 1rem;
  margin-bottom: 0px;
}

.maindiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  background-color: SkyBlue;
  border: none;
  font-family: Times New Roman;
  font-weight: bold;
}

.im-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.im-section img {
  width: 100px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.list li:hover {
  cursor: pointer;
  border-bottom: 1px solid black;

  // border-right: 1px;
}

.footer-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  border: none;
  background-color: rgba(2, 0, 36, 1);
  color: #ffe3a3;
  padding: 1rem;
  font-family: Times New Roman;
}

.text-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #ffe3a3;
}

.text-footer p {
  margin-right: 1rem;
  margin-bottom: 0px;
  font-size: medium;
}

.foterlist p {
  font-size: medium;
  margin: 0;
}

.foterlist {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foterlist li {
  margin-right: 20px;
}

.foterlist li:hover {
  cursor: pointer;
  border-bottom: 1px solid #ffe3a3;
}

@media (max-width: 450px) {
  .im-section h4 {
    font-size: larger;
  }
  .maindiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-div {
    display: flex;
    flex-direction: row;
  }
  .footer-div p {
    font-size: small;
  }
  .main-containt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main1-text {
    display: flex;
    margin-bottom: 1rem;
  }
  .email-section {
    display: flex;
    margin-bottom: 1rem;
  }
  .phoneno-section {
    display: flex;
    margin-bottom: 1rem;
  }
}
