.main_Strength{
    margin: 3rem;
}
.main_Strength h2{
    border-bottom: 2px solid skyblue;
    width: 13rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    background-color: rgba(2, 0, 36, 1);
    color: #ffe3a3;
    margin: 1rem;
  }
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: .5rem;
  }