/* * {
    background-color: rgb(31, 31, 100);
    color: goldenrod;
} */
html{
    scroll-behavior: smooth;
}
li {

    display: inline-block;
    float: right;

}

ul {
    text-align: center;
    font-size: small;
    overflow: hidden;
}

li a {
    text-decoration: none;
    padding: 1rem;
    color: black;
    
}
a:hover {
    background-color: gray;
    color: rgb(186, 18, 18);
}

.main-div1 {
    background-image: url('./images/skyline-background.avif');
    height: 30vw;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}

.about-head {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
}

.para-aboutus {
    margin: 1rem;
    width: 70vw;
}
